name: nwchem_singularity

on:
  schedule:
    - cron: '0 0 * * SUN'
  repository_dispatch:
    types: [backend_automation]
  workflow_dispatch:

jobs:
  build_image:
    runs-on: ubuntu-latest
    strategy:
        fail-fast: false
        matrix:
          folder:
            - nwchem-dev.ompi41x
#            - nwchem-701.mpich321.ivybridge
    steps:
    - name: Checkout nwchem-singularity source
      uses: actions/checkout@v4
    - name: Setup cache
      id: setup-cache
      uses: actions/cache@v3
      with:
        path: |
          ~/cache
        key: ${{ matrix.folder}}-nwchemcache-v005
    - name: fetch cache
      if: steps.setup-cache.outputs.cache-hit == 'true'
      run: |
        ls -lart ~/cache
        if [[ -f ~/cache/ompi/lib/libmpi.so ]]; then \
        echo "ompi cache present" ; \
        fi
        if [[ -f ~/cache/libext/lib/libnwc_openblas.a ]]; then \
        echo "libext cache present" ; \
        fi
        if [[ -f ~/cache/simint.l5_p5_d1.install/lib/libnwc_simint.a ]]; then \
        echo "simint cache present" ; \
        fi
    - uses: eWaterCycle/setup-singularity@v7
      with:
        singularity-version: 3.8.3
    - name: Checkout nwchem source
      uses: actions/checkout@v4
      with:
        repository: nwchemgit/nwchem
        clean: false
        path: nwchem
    - name: build a singularity container
      run: |
        cd ${{ matrix.folder }}
        singularity build --fakeroot ${{ matrix.folder }}.simg  Singularity
    - name: store cache
      run: |
        mkdir -p ~/cache || true
        cd ${{ matrix.folder }}
        singularity exec ${{ matrix.folder }}.simg cp -r /opt/ompi ~/cache
        singularity exec ${{ matrix.folder }}.simg cp -rv /nwchem/src/libext ~/cache/. ||true
        singularity exec ${{ matrix.folder }}.simg ls -la /nwchem/src/NWints/simint/libsimint_source/simint.l5_p5_d1.install || true
        singularity exec ${{ matrix.folder }}.simg ls -la /nwchem/src/NWints/simint/libsimint_source/ || true
        singularity exec ${{ matrix.folder }}.simg ls -la /nwchem/src/NWints/simint || true
        singularity exec ${{ matrix.folder }}.simg ls -la /nwchem/src/NWints/ || true
        singularity exec ${{ matrix.folder }}.simg cp -rv /nwchem/src/NWints/simint/libsimint_source/simint.l5_p5_d1.install ~/cache/. ||true
        echo "cache stored"
        ls -l ~/cache
        ls -R ~/cache
    - name: find image file
      run: |
        cd ${{ matrix.folder }}
        find . -name ${{ matrix.folder }}.simg
        cd ..
        find . -name ${{ matrix.folder }}.simg
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.folder }}
        path: ${{ matrix.folder }}/${{ matrix.folder }}.simg
    - name: builddate
      id: build-date
      run: |
        echo "::set-output name=date::$(TZ=America/Los_Angeles date +%Y%m%d_%H%M%S)"
    - name: push to ghcr.io
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | singularity remote login -u ${{ github.actor }} --password-stdin oras://ghcr.io
        singularity remote list
        singularity push ${{ matrix.folder }}/${{ matrix.folder }}.simg oras://ghcr.io/${{ github.repository }}/${{ matrix.folder }}:${{ steps.build-date.outputs.date }}
        singularity push ${{ matrix.folder }}/${{ matrix.folder }}.simg oras://ghcr.io/${{ github.repository }}/${{ matrix.folder }}:latest
    - name: test image
      run: |
        export OMPI_VERSION=4.1.4
        pwd
        ls -la
        rm -f */*simg
        singularity pull ${{ matrix.folder }}/${{ matrix.folder }}.simg oras://ghcr.io/${{ github.repository }}/${{ matrix.folder }}:${{ steps.build-date.outputs.date }}
        cd nwchem/QA
        export UCX_TLS=tcp,self
        export UCX_POSIX_USE_PROC_LINK=n
        mkdir -p /opt || true
        rsync -a ~/cache/ompi /opt/.
        export PATH=/opt/ompi/bin:$PATH
        export MPIRUN_NPOPT="-x UCX_POSIX_USE_PROC_LINK=n -x UCX_TLS=tcp,self -n"
        export LD_LIBRARY_PATH=/opt/ompi/lib:$LD_LIBRARY_PATH
        which mpirun
        ldd `which mpirun`
        export NWCHEM_EXECUTABLE="singularity exec oras://ghcr.io/edoapra/nwchem-singularity/nwchem-dev.ompi41x:latest nwchem"
        ./runtests.mpi.unix procs 2 dft_he2+
        ./runtests.mpi.unix procs 2 h2o_opt
